#stylebot-container button {
    height: auto;
}

.clauses .header .logical {
    visibility: hidden;
}

.clauses .logical, .icon-add {
    position: relative;
    top: -1em;
}

.menu-item.icon-only .icon-add {
    position: static;
}

.grid-cell[style*="text-indent: 32"], .grid-cell[style*="text-indent: 48"] {
    background: rgba(127,127,127,.15);
}

.node-content {
    padding-right: 0;
}
.richeditor-editarea {
    position: static;
}
.richeditor-editarea iframe {
    outline: 1px solid #BBB;
    resize: vertical;
}

[title$="Critical"] {
    background-color: #212121;
    color: #FFF;
}

[title$="High"] {
    background-color: #EF9A9A;
}

[title$="Medium"] {
    background-color: #FFF9C4;
}

[title*="Design"] {
    background-color: #FFF;
    background-image: linear-gradient(#E3F2FD 1px, transparent 1px), linear-gradient(90deg, #E3F2FD 1px, transparent 1px);
    background-size: 5px 5px, 5px 5px;
}

[title="Done"] {
    background-color: #EEEEEE;
}

[title="In Progress"], [title="Development"] {
    background-color: #A5D6A7;
}

[title="QA"], [title="Testing"] {
    background-color: #81D4FA;
}

[title="To Do"] {
    color: #795548;
}

ol, ul, menu {
    padding-left: 2em;
}



/* Restricting page width */
body:not([contenteditable]) {
    background-color: #B0BEC5;
}
    .main-container {
        transition: .3s ease margin;
        max-width: 1152px; /* 96 * 12 */
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4) !important;
        
        } @media (min-width: 1152px) { .main-container {
            margin-top: .5vh;
            margin-bottom: .5vh;
            border-radius: 2px;
        }
    }
        .main {
            min-width: 720px;
        }
